Flask==3.1.1
gunicorn==21.2.0  # Add this for production WSGI server
numpy==1.26.4
pandas==2.3.0
matplotlib==3.7.1
scipy==1.15.3
astropy==5.3.4
astroquery==0.4.10
plotly==5.24.1
reportlab==4.4.2
requests==2.32.4
jplephem==2.22
skyfield==1.53
sgp4==2.24
