Flask==3.1.1
gunicorn==21.2.0
numpy==1.26.4
pandas==2.3.0
matplotlib==3.7.1
scipy==1.13.0
astropy==6.0.1
astroquery==0.4.7
plotly==5.24.1
reportlab==4.4.2
requests==2.32.2
jplephem==2.22
skyfield==1.53
sgp4==2.24
setuptools==69.2.0
wheel==0.43.0
